*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}


/**
 * HEADER
**/
.header {
  display: flex;
  align-items: center;
  padding-left: 32px;
  padding-right: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin-right: 28px;
  width: 20px;
  height: 17px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.menu-line {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #1f2022;
  border-radius: 20px;
}

.logo {
  display: block;
  margin-right: 59px;
  width: 116px;
  height: 25px;
  object-fit: cover;
}

.input-group {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 830px;
  width: 50%;
  background-color: #ebebeb;
  border-radius: 22px;
}

.input-search {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 23px;
  padding-right: 45px;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1f2022;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 22px;
  width: 100%;
}

.input-search::placeholder {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #30384c;
  opacity: 0.4;
}

.input-search:focus {
  outline: 2px solid #1f2022;
}

.button-search {
  position: absolute;
  padding: 0;
  right: 17px;
  width: 19px;
  height: 19px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon {
  display: inline-block;
}

.icon-search {
  fill: #000000;
}

.icons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.icons-link {
  text-decoration: none;
  opacity: 0.24;
}

.icons-link:focus {
  outline: none;
}

.icons-link:hover,
.icons-link:focus {
  opacity: 1;
}

.icons-link:not(:last-child) {
  margin-right: 50px;
}

.user {
  margin-left: 45px;
}

.user-avatar {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/**
 * NAVIGATION MENU
**/
.container {
  max-width: 220px;
}

.sidebar {
  padding-left: 32px;
  width: 100%;
}

.nav-menu {
  padding: 0;
  margin-top: 0;
  margin-bottom: 60px;
  list-style-type: none;
}

.nav-menu--settings {
  margin-top: 104px;
  margin-bottom: 40px;
}

.nav-item:not(:last-child) {
  margin-bottom: 28px;
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  outline: none;
}

.nav-link .icon {
  fill: #898989;
}

.nav-link:hover .icon,
.nav-link:focus .icon {
  fill: #ff0000;
}

.nav-link:hover .nav-text,
.nav-link:focus .nav-text {
  color: #ff0000;
}

.nav-text {
  margin-left: 14px;
  color: #898989;
}

.nav-image {
  display: block;
  width: 26px;
  height: 26px;
  object-fit: cover;
  border-radius: 50%;
}

.nav-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}
